body {
    background: black;
}

.message-box, .editor {
    background: black;
    color: green;
    margin: 15px;
    width: 500px;
    font-size: 20px;
    border: 1px SOLID green;
}

.delete-btn, .author, .content, .editor{
    display: inline-block;
}

.delete-btn {
    float: right;
    margin-right: 5px;
}

.editor {
    float: right;
}