{% load staticfiles thumbnail %}

<html>
<head>
<title>Message Board</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</head>
<body>
    {% verbatim %}
    <div class="content" ng-app="messageboard" ng-controller="messageCtrl">
        <ul class="message-list">
        <div class='message-box' ng-repeat="msg in messages">
        <div class='author'>Author: {{msg.author}}</div>
        <div class='date'>Date: {{msg.date}}</div>
        <div class='message'>Message: {{msg.message}}</div>
        <div class='photo' ng-if=msg.image><img src='{{msg.image}}' style='width:500px;height:500px;'/></div>
        </div>
        </ul>
    </div>
    {% endverbatim %}
</body>
</html>
